<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350687816170-6t52v58ms8dk3lthhej4i0plickq0cib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350687816170-6t52v58ms8dk3lthhej4i0plickq0cib</string>
	<key>API_KEY</key>
	<string>AIzaSyBcAUySqVGeEebtqhHUIYPqQ_e7COF5cIc</string>
	<key>GCM_SENDER_ID</key>
	<string>350687816170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gorokhovskiy.TestAppForPumpit</string>
	<key>PROJECT_ID</key>
	<string>testappforpumpit</string>
	<key>STORAGE_BUCKET</key>
	<string>testappforpumpit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350687816170:ios:071ce7a82e91d3cc232a93</string>
	<key>DATABASE_URL</key>
	<string>https://testappforpumpit.firebaseio.com</string>
</dict>
</plist>